.content {
  position: absolute;
  width: 50vw;
  height: 50vh;
  /* margin-top: 10vh; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  /* background: transparent; */
  background: radial-gradient(circle at bottom, rgba(255, 255, 255, 0.553), rgba(0, 0, 0, 0.477) 50%);
  border: 2px solid white;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.668);
  color: white;
  /* color: red; */
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;




  /* **************** */
  opacity: 1;
  /* **************** */
  z-index: 99;
  /* **************** */
  /* display: none; */
  /* **************** */
}

.content p {
  color: white;
  margin-left: 5vw;
}




/* ******* WELCOME CONTENT ******* */

.welcomeContent {

  width: 30vw;
  height: 20vh;
  justify-content: center;
  align-items: center;
  /* transform: translateX(70vw); */
  opacity: 0.2;
  transition: opacity 1500ms ease-in;
}

.welcomeContent p {
  margin: 10%;
  font-size: 1.5rem;
}

.welcomeContent:hover {
  background: radial-gradient(circle at top, white, rgba(0, 0, 0, 0.06) 50%);
  opacity: 0;

}

/* -------------------------------------------- */


/* ******* ENGINEER CONTENT ******* */
.engineerContent {
  width: 50vw;
  height: 52vh;
  padding: 2vh 7vw;
  transform: translateX(-70vw);
  transition: transform 1000ms ease-in, opacity 1500ms ease-in;
  line-height: 5px;
}

.engineerContent h3 {
  margin: 2vw;
  color: yellow;
}

.engineerContent p {

  color: black;
  color: white;
}

.engineerContent:hover {
  background: radial-gradient(circle at left, white, rgba(0, 0, 0, 0.06) 40%);
}

/* -------------------------------------------- */



/* ******* DEVELOPER CONTENT ******* */
.developerContent {
  width: 50vw;
  height: 50vh;
  padding: 2vh 5vw;
    line-height: 5px;
  transform: translateX(70vw);
  transition: transform 1000ms ease-in, opacity 1500ms ease-in;
}

.developerContent h3 {
  color: rgb(0, 136, 255);
  color: black;
  color: white;
  color: blue;
  color: rgb(172, 5, 172);
  margin: 3vh;
  margin-left: 5vw;
}

.developerContent p {
  line-height: 25px;

}

.developerContent:hover {
  background: radial-gradient(circle at top, white, rgba(0, 0, 0, 0.06) 80%);
}

/* -------------------------------------------- */



/* ******* PORTFOLIO CONTENT ******* */
.portfolioContent {
  width: 50vw;
  height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-70vh) translateX(0vw);
  transition: transform 1000ms ease-in, opacity 1000ms ease-in;
  /* display: none; */
}

.portfolioContent:hover {
  background: radial-gradient(circle at top, white, rgba(0, 0, 0, 0.06) 70%);
}

.portfolioContent h3 {
  font-size: 1.5rem;
  margin-top: 5vh;
  color: rgb(0, 94, 255);
}

.projectsBox {
  width: 90%;
  height: 90%;
  margin: auto;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: row wrap;

}

.projectsRow {
  width: 100%;
  height: 50%;
  margin: 0;
  border: 2px solid yellow;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.project {
  width: 30%;
  height: 30%;
  margin: 2vw;
  padding: 1vh 2vw;
  border: 2px solid white;
  border-radius: 15px;

  float: left;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;

  background: linear-gradient(to top, white, rgba(0, 0, 0, 0.504) 80%);
  cursor: pointer;
}




.project:hover {
  background: radial-gradient(circle at top, white, rgba(0, 0, 255, 0.648) 70%);
  outline: 2px solid white;
}

/* .portfolioContent:hover {
  background: radial-gradient(circle at bottom, white, rgba(0, 0, 0, 0.06) 80%);
} */

/* -------------------------------------------- */


/* ******* CONTACT CONTENT ******* */

.contactContent {
  width: 40vw;
  height: 30vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transform: translateY(100vw) translateX(-2vw);
  transition: transform 1000ms ease-in, opacity 1000ms ease-in-out;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.501), rgba(0, 0, 0, 0.404));
  /* display: none; */
}

.contactContent h3 {
  margin: 3vw;
  margin-left: 7vw;
}

.socialMediaIcons {
  width: 35vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1vw;
  /* background-color: white; */
}

.socialMediaIcons img:hover {
  transform: rotateZ(-15deg);
  transition: rotateY 500ms ease-in;
}

.socialMedia img {
  /* background-color: white; */
  /* border: 1px solid white; */
  width: 4vw;
  height: 4vw;
}

.contactContent:hover {
  background: radial-gradient(circle at bottom, white, rgba(0, 0, 0, 0.06) 70%);
}


/* -------------------------------------------- */
