* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  padding: 0;
  margin: 0;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  background-color: black;
  background: radial-gradient(circle at top right, white, black 25%);
  background-repeat: no-repeat;
  z-index: 1;
}

.mainDiv {
  position: relative;
  width: 100vw;
  height: 100vh;
  /* border: 5px solid red; */
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 10;
}
